<h1><%= @project.name %></h1>


<p>Company : <%= @project.company.name %></p>
<p>Deafult Rate : <%= @project.default_rate %></p>
<p>Slug : <%= @project.slug %></p>

<%= link_to 'All Projects',projects_path %>